
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1260px;
}

.container div {
   margin: 10px;
   text-align: center;
   /* font-style: italic;
   font-size: 40px; */
}