

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 1260px; */
}

.container div {
   margin: 10px;
   width: 200px;
   text-align: center;
   
}

.swh1 {
    text-align: center;
    font-size: 50px;
}

.navimg {
    display: inline-block;
    padding: 2px;
    width: 55px;
    height: 55px;
    float: left;
  }

.h1div {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #FCBA36;
    width: 100%;
}

/* .script {
    display: inline;
} */