body {
    background-color: midnightblue;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1260px;
}

.container div {
   width: 250px;
   height: 400px;
   text-align: center;
   font-style: italic;
   font-size: 40px;
}